@import "./normalize.css";

* {
}

/* pages */
.page {
  background: #2A2C2F;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92.5%;
  margin: auto;
  max-height: 3.25rem;
}

.header__lang_wrapper {
  position: relative;
  right: 2%;
  display: flex;
  align-items: center;
}

.header__lang-link {
  font-size: 1.5rem;
  margin-left: 18px;
  color: #FFFFFF;
  transition: 0.3s;
}

.header__lang-link:nth-child(1) {
  margin-left: 0;
  text-decoration: underline;
}

.header__lang-link:hover {
  opacity: 0.3;
}

.header__logo {
  object-fit: contain;
}

/* lead */
.lead {
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}

.lead__caption {
  margin: 0;
  color: #FFFFFF;
  align-self: flex-start;
}

.lead__title {
  max-width: 55%;
  color: #FFFFFF;
  font-size: 6rem;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  line-height: 6.25rem;
}

.lead__subtitle {
  font-size: 1.875rem;
  margin: 0;
  margin-bottom: 4rem;
  width: 25%;
  text-align: center;
  color: #FFFFFF;
}

.lead__leadimg {
  object-fit: contain;
  width: 100%;
}


/* intro */
.intro {
  margin-top: 5.75rem;
  width: 53%;
  margin-left: 11.56%;
}

.intro__title {
  margin: 0;
  font-size: 3.375rem;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}

.intro__text {
  font-size: 1rem;
  color: #FFF;
  margin: 0;
  margin-bottom: 2.0625rem;
}

.intro__list-wrapper {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.intro__list {
  color: #FFF;
  margin: 0;
}

.intro__list-bold {
  font-weight: bold;
}

/* grd */
.grid {
  margin-top: 5.75rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 96.25%;
  margin-left: auto;
  margin-right: auto;
}

.grid__image {
  width: 100%;
  object-fit: contain;
}

/* places */
.places {
  margin-top: 5.75rem;
  color: #fff;
  width: 76.88%;
  margin-left: auto;
  margin-right: auto;
}

.places__text {
  margin: 0;
  color: #fff;
  margin-bottom: 1.5rem;
  grid-column-start: 2;
  font-size: 1.2rem;
}

.places__title {
  font-size: 4.5rem;
  color: #fff;
  margin: 0;
}

.places__link {
  margin: 0;
  position: relative;
  top: 50%;
  text-decoration: underline;
  color: #fff;
}

.places__image {
  width: 100%;
  object-fit: contain;
  grid-row: 2;
  height: 100%;
}

.places__url {
  margin: 0;
  position: relative;
  top: 40%;
  color: #aaa;
}

.places__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
  grid-gap: 40px;
  margin-bottom: 5rem;
}

.places__link-holder {
  grid-column-start: 2;
}

/* cover */
.cover {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.cover__backimg {
  position: relative;
  z-index: 0;
  background-image: url(./images/__background.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.cover:hover .cover__backimg {
  opacity: 0.3;
}

.cover__title {
  position: relative;
  bottom: 75%;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-size: 4.5rem;
  width: 54.69%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  text-decoration: none;
}

.cover__subtitle {
  position: relative;
  bottom: 75%;
  z-index: 1;
  text-align: center;
  color: #fff;
  width: 35.16%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  text-decoration: none;
}

/* footer */
.footer {
  color: #fff;
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.75rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.footer__text:nth-child(6) {
  text-align: right;
}
.footer__text {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.footer__text:hover {
  opacity: 0.3;
}
.footer__text-wrapper {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(5, fit-content(200px));
}
