.places__image {
  max-width: 460px;
  width: 100%;
  object-fit: contain;
  align-self: start;
  grid-row: 2;
  order: -1;
}

@media screen and (min-width: 458px) and (max-width: 768px) {
  .places__image {
    justify-self: center;
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .places__image {
    align-self: start;
  }
}
