.places__text {
  margin: 0;
  color: #fff;
  margin-bottom: 1.5rem;
  grid-column-start: 2;
  font-size: 1.2rem;
  max-width: 484px;
  width: 100%;
}
.places__text:last-of-type {
  margin-bottom: 0;
}
