.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  max-height: 42px;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
}
