.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1184px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 288px;
  }
}
