.lead__title {
  width: 80%;
  color: #FFFFFF;
  font-size: 6rem;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  line-height: 6.25rem;
}

@media screen and (min-width: 1024px) {
.lead__title {
  width: 60  %;
}
}
