.footer__text {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  line-height: 18px;
}

.footer__text:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .footer__text {
    font-size: 24px;
    line-height: 24px;
  }
  .footer__text:last-of-type {
    margin-bottom: 48px;
  }
}
