.lead__figcaption {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .lead__figcaption {
    margin-left: 16px;
  }
}

@media screen and (max-width: 768px) {
  .lead__figcaption {
    margin-left: 24px;
  }
}
