.places__link-holder {
  max-width: 456px;
  width: 100%;
  grid-column-start: 2;
  align-self: end;
  order: -2;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__link-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
}
